/* App */
body{
    background-color: #212529;
}

/* Header */


/* WeatherAPI */
#buttons-container{
    display: flex;
    margin-left: 365px;
    margin-bottom: 10px;
}
#dropdown-basic-button{
    margin-right: 10px
}


/* WeatherOutput */
#carousel{
    height: 892px;
    display: none;
}
.carouselPic{
    height: 892px;
}
#placeHolder{
    height: 892px;
}


/* Footer */
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}