/* App */
body{
    background-color: #212529;
}

/* Header */
.navbar-brand{
    margin: 0;
}

.container{
    margin-left: 365px;
}

/* WeatherAPI */
#buttons-container{
    display: flex;
    margin-left: 365px;
    margin-bottom: 10px;
}
#dropdown-location-button{
    margin-right: 10px;
}
#dropdown-date-button{
    margin-right: 10px;
    display: none;
}

/* WeatherOutput */
#carousel{
    height: 892px;
    display: none;
}
.carouselPic{
    height: 892px;
}
#placeHolder{
    height: 892px;
}


/* Footer */
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}